<!-- dodanie linków do przeniesienia na inną stronę -->
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a routerLink="/home">Home</a>
        </li>
        <li class="nav__item">
            <a routerLink="/todo-app">Todo App</a>
        </li>
        <li class="nav__item">
            <a routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav__item">
            <a routerLink="/contact">Contact</a>
        </li>
    </ul>
</nav>


<!-- w tym miejscu będą renderowały się komponenty po kliknięciu
    na achor tag
-->
<router-outlet></router-outlet>